@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,900&display=swap');
#card {
    width: 320px !important;
    height: 285px;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: auto;
}

#services-detail {
    background-image: url("../resources/Imagenes/backgroud-detail-services.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10%;
    align-content: stretch;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-services {
    display: flex;
    width: 25%;
    height: 285px;
    margin: 50px 0px 50px 300px;
    background-color: #ffffff;
}

#info-service {
    text-align: left;
}

.parrafo {
    font-size: 2em;
    padding: 10px 20px 10px 20px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: #FF531F;
    /* font-family: 'Lato', sans-serif;*/
}

.span {
    font-family: sans-serif;
}

.btn {
    display: flex;
    justify-content: space-around;
    width: 8em;
    height: 30px;
    margin-left: 65%;
    color: #ffffff;
    background-color: #f55a33;
    border-radius: 3px;
}

.btn:hover {
    background-color: #f34216;
    cursor: pointer;
}

.btn>.span {
    padding: 5px;
}

#image-card {
    /* background-color: #f55a33;
    width: 30px; */
    margin: -20px 0px 0px -160px
}