<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/carousel.css">
</head>

<body>
    <div id="carouselContainer" class="carouselContainer">
        <div class="carousel-initial" id="carousel-initial">
            <div class="carousel-item enabled">
                <img src="/resources/Imagenes/depositphotos_life-people.jpg" class="carouselimage" alt="">
            </div>
            <div class="carousel-item">
                <img src="/resources/Imagenes/depositphotos_logo-template.jpg" class="carouselimage" alt="">
            </div>
            <div class="carousel-item">
                <img src="/resources/Imagenes/depositphotos.jpg" class="carouselimage" alt="">
            </div>
        </div>
        <div class="containerBtn">
            <button class="carousel-btn prev" type="button" id="btnPrevious">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">&#60;</span>
            </button>
            <button class="carousel-btn next" type="button" id="btnNext">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">&#62;</span>
            </button>
        </div>
    </div>

    <script src="/JS/carousel.js"></script>
</body>

</html>