<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../CSS/footer.css">
    <title>Document</title>
</head>
<body>
    <footer id="footer" >
        <div class="container">
            <div class="principal">
                <div class="colum1">
                    <h2>Suscribete</h2>
                    <p>Entérate de nuestras novedades</p>
                </div>
                <div class="colum1">
                    <form action="" class="form">
                        <input type="text" placeholder="correo eléctronico">
                        <button type="submit">Enviar</button>
                    </form>
                </div>
            </div>
            
            <div class="secundario">                

            </div>

            <div class="terciario">
                
                
            </div>

        </div>
    </footer>
    <script src="../JS/utilities.js"></script>
    <script src="../JS/footer.js"></script>
</body>
</html>